<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="./home">LEMACO MOTOR</a>

    <!-- responsive -->
    <button class="navbar-toggler navbar-toggler-right" type="button" 
        data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" 
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- fin responsive -->

    
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngFor="let navItem of navbarItem">
          <a class="nav-link" [routerLink]="navItem.link" >
              <i [class]="navItem.icon"></i>
              {{navItem.name}}
          </a>
      </li>
        
      </ul>
    </div>
  </div>
</nav>
